.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
TomRunCool
build/Debug/add.o
build/Debug/runcool.o
build/Debug/TomRunCool.o
TomRunCool.dSYM/Contents/Info.plist
.vscode/tasks.json
test
TomRunCool.exe
HelperFunctions/cache.exe
HelperFunctions/printBinary.exe
troyruncool.exe
troyruncool
TomRunCool.c
tomtest
